body{
font-family:Segoe UI;
background:#f4f6f9;
margin:0;
}

.container{
max-width:700px;
margin:auto;
padding:30px;
}

h1{
text-align:center;
}

#notes{
display:flex;
flex-direction:column;
gap:15px;
}

.note{
background:white;
padding:15px;
border-radius:8px;
display:flex;
justify-content:space-between;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.note-content{
width:70%;
cursor:pointer;
}

.preview{
display:-webkit-box;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
overflow:hidden;
}

.actions button{
border:none;
padding:6px 10px;
margin-left:5px;
color:white;
border-radius:6px;
cursor:pointer;
}

.edit{
background:#10b981;
}

.delete{
background:#ef4444;
}

.fab{
position:fixed;
bottom:25px;
right:25px;
width:55px;
height:55px;
border-radius:50%;
background:#4f46e5;
color:white;
font-size:28px;
border:none;
cursor:pointer;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:20px;
border-radius:8px;
width:320px;
}

textarea{
width:100%;
height:200px;
}

.empty{
text-align:center;
margin-top:30px;
color:#777;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
margin-top:20px;
display:flex;
flex-direction:column;
gap:12px;
}

.save-btn{
padding:10px;
border:none;
background:#4f46e5;
color:white;
border-radius:6px;
cursor:pointer;
}

.back-btn{
margin-bottom:10px;
border:none;
background:#e5e7eb;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}